* {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#score {
    position: relative;
    top: 5px;
    
    
}